.wrapper_with_padding
	#notes.clearfix
		- unless @notes.blank?
			- @notes.each do |note|
				%a{ href: (url_for [note])}
					.note
						%p.title= note.title
						%p.date= time_ago_in_words(note.created_at)
		- else
			

			%h2 Add a Note
			
			%p It appears you haven't created any notes yet... Lets fix that. Why don't you go ahead and create a new note.
			%p Inorder to create a note please press the New Note button on the top right side 
			%p Note-taking is the practice of recording information captured from another source. By taking notes, the writer records the essence of the information, freeing their mind from having to recall everything.Notes are commonly drawn from a transient source, such as an oral discussion at a meeting, or a lecture (notes of a meeting are usually called minutes), in which case the notes may be the only record of the event. Note taking is a form of self-discipline.
			%p Note-taking is a central aspect of a complex human behavior related to information management involving a range of underlying mental processes and their interactions with other cognitive functions. The person taking notes must acquire and filter the incoming sources, organize and restructure existing knowledge structures, comprehend and write down their interpretation of the information, and ultimately store and integrate the freshly processed material. The result is a knowledge representation, and a memory storage.
			%p Note-taking is a race against time. The note taker typically is under severe time pressure, and different note-taking styles and techniques try to make the best use of time. The average rate of speech is 2–3 words per second, but the average handwriting speed as only 0.2–0.3 words per second.


